@using System

<!-- PRIMARY CONTENT HEADING -->
<div class="primary-content-heading clearfix">
    <h2>Dashboard for </h2>

</div>
<!-- END PRIMARY CONTENT HEADING -->
<div class="row">
    <div class="col-sm-8">
        <div class="widget">
            <div class="widget-header clearfix">
                <h3><i class="icon ion-calculator"></i> <span>Last 5 Transactions</span></h3>
            </div>
            <div class="widget-content">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Date</th>
                            <th>Category</th>
                            <th>Account</th>
                            <th>Description</th>
                            <th>Entered By</th>
                            <th>Amount</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                       
                    </tbody>
                </table>
            </div>
        </div>      
    </div>

    <div class="col-sm-4">
        <div class="widget">
            <div class="widget-header clearfix">
                <h3><i class="icon ion-calculator"></i> <span>Accounts</span></h3>
            </div>
            <div class="widget-content">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>Account Name</th>
                            <th>Transactions</th>
                            <th>Balance</th>
                        </tr>
                    </thead>
                    <tbody>
                      
                    </tbody>
                </table>               
            </div>
        </div>
    </div>
</div>
<div class="widget ">
    <div class="widget-header clearfix">
        <h3><i class="icon ion-calculator"></i> <span>Activity by Category for</span></h3>
        
    </div>
    <div class="widget-content">
        
        <table id="datatable" hidden>
            <thead>
                <tr>
                    <th></th>
                    <th>Amount Budgeted</th>
                    <th>Amount Spent</th>
                </tr>
            </thead>
            <tbody>
    
            </tbody>
        </table>
    </div>
</div>
