@{
    Layout = "~/Views/Shared/_NotAuthenticatedLayout.cshtml";
}
<div class="container-fluid primary-content not-authenticated">
    <br />
    <div class="widget">
        <div class="widget-header clearfix">
            <div class="h2 text-danger"><i class="icon ion-information-circled" ></i> <span> @ViewBag.Title</span></div>
        </div>
        <div class="widget-content">
            <div class="h4 text-success"><i>@ViewBag.Message</i></div>
        </div>
    </div>
</div>
